@model List<test1.Models.Customer>
@*Make sure to write all the thing first or else it will return error*@

<h1>HELLO Welcome to Data File </h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th> Customer Id</th>
                <th>Customer Name </th>
                <th>Customer Address </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var items in Model)
            {
                <tr>
                    <td>@items.CustomerID</td>
                    <td>@items.FullName</td>
                    <td>@items.Address</td>
                </tr>
            }

        </tbody>
    </table>

</div>