@model test1.Models.Customer
@*Make sure to write all the thing first or else it will return error*@

<div class="container">
    Customer Id:@Model.CustomerID<br/>
    Customer Name:@Model.FullName<br/>
    Customer Address: @Model.Address<br/>

</div>